# PROYEK: Memperbaiki Nilai G3

![Data Science Workflow](ds-workflow.png)

## Goal Proyek
- Eksplorasi Dataset
- Ikuti Proses Data Science
- Mengidentifikasi Solusi

## Step 1: Acquire
- Explore problem
- Identify data
- Import data

In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('student-mat.csv')

In [4]:
data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [5]:
len(data)

395

## Step 2: Prepare
- Explore data
- Visualize ideas
- Cleaning data

In [6]:
data.dtypes

school        object
sex           object
age            int64
address       object
famsize       object
Pstatus       object
Medu           int64
Fedu           int64
Mjob          object
Fjob          object
reason        object
guardian      object
traveltime     int64
studytime      int64
failures       int64
schoolsup     object
famsup        object
paid          object
activities    object
nursery       object
higher        object
internet      object
romantic      object
famrel         int64
freetime       int64
goout          int64
Dalc           int64
Walc           int64
health         int64
absences       int64
G1             int64
G2             int64
G3             int64
dtype: object

In [7]:
data.isnull().any()

school        False
sex           False
age           False
address       False
famsize       False
Pstatus       False
Medu          False
Fedu          False
Mjob          False
Fjob          False
reason        False
guardian      False
traveltime    False
studytime     False
failures      False
schoolsup     False
famsup        False
paid          False
activities    False
nursery       False
higher        False
internet      False
romantic      False
famrel        False
freetime      False
goout         False
Dalc          False
Walc          False
health        False
absences      False
G1            False
G2            False
G3            False
dtype: bool

## Step 3: Analyze
- Feature selection
- Model selection
- Analyze data

In [8]:
data.corr()['G3']

age          -0.161579
Medu          0.217147
Fedu          0.152457
traveltime   -0.117142
studytime     0.097820
failures     -0.360415
famrel        0.051363
freetime      0.011307
goout        -0.132791
Dalc         -0.054660
Walc         -0.051939
health       -0.061335
absences      0.034247
G1            0.801468
G2            0.904868
G3            1.000000
Name: G3, dtype: float64

In [9]:
data.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

In [10]:
data.groupby('freetime')['G3'].mean()

freetime
1     9.842105
2    11.562500
3     9.783439
4    10.426087
5    11.300000
Name: G3, dtype: float64

In [11]:
data.groupby('freetime')['G3'].count()

freetime
1     19
2     64
3    157
4    115
5     40
Name: G3, dtype: int64

In [12]:
data.groupby('freetime')['G3'].std()

freetime
1    4.752346
2    4.219663
3    4.794920
4    4.330757
5    4.619912
Name: G3, dtype: float64

### PILIH 3 features
- Putuskan 3 feature yang akan digunakan dalam laporan

In [43]:
df_3var=data[['studytime','age','traveltime','G3']]
df_3var

     studytime  age  traveltime  G3
0            2   18           2   6
1            2   17           1   6
2            2   15           1  10
3            3   15           1  15
4            2   16           1  10
..         ...  ...         ...  ..
390          2   20           1   9
391          1   17           2  16
392          1   21           1   7
393          1   18           3  10
394          1   19           1   9

[395 rows x 4 columns]

In [50]:
df_3var.corr()

            studytime       age  traveltime        G3
studytime    1.000000 -0.004140   -0.100909  0.097820
age         -0.004140  1.000000    0.070641 -0.161579
traveltime  -0.100909  0.070641    1.000000 -0.117142
G3           0.097820 -0.161579   -0.117142  1.000000

In [ ]:
#korelasi antara studytime dengan G3 sebesar 0.097820 artinya berkorelasi positif
#korelasi antara age dengan G3 sebesar -0.161579 artinya berkorelasi negatif
#korelasi antara traveltime dengan G3 sebesar -0.117142 artinya berkorelasi negatif

In [23]:
import numpy as np
from sklearn.linear_model import LinearRegression

In [45]:
X=data[['studytime','age','traveltime']]
y=data['G3']

In [46]:
model = LinearRegression().fit(X, y)
r_sq = model.score(X, y)
print(f"coefficient of determination: {r_sq}")
print(f"intercept: {model.intercept_}")
print(f"slope: {model.coef_}")

coefficient of determination: 0.04489457537269037
intercept: 19.62295718872592
slope: [ 0.47684473 -0.55411919 -0.63992168]

In [47]:
import statsmodels.api as sm
model=sm.OLS(y,X).fit()
#predictions=model.predict(X)
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                     G3   R-squared (uncentered):                   0.829
Model:                            OLS   Adj. R-squared (uncentered):              0.828
Method:                 Least Squares   F-statistic:                              633.6
Date:                Mon, 06 Feb 2023   Prob (F-statistic):                   6.51e-150
Time:                        14:32:49   Log-Likelihood:                         -1172.1
No. Observations:                 395   AIC:                                      2350.
Df Residuals:                     392   BIC:                                      2362.
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
studytime      0.8169      0.279      2.923      0.004       0.267       1.366
age            0.5540      0.049     11.340      0.000       0.458       0.650
traveltime    -0.4180      0.342     -1.223      0.222      -1.090       0.254
==============================================================================
Omnibus:                       30.122   Durbin-Watson:                   1.968
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               34.786
Skew:                          -0.696   Prob(JB):                     2.79e-08
Kurtosis:                       3.416   Cond. No.                         24.7
==============================================================================

Notes:
[1] RÂ² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [49]:
X=sm.add_constant(X)
model=sm.OLS(y,X).fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                     G3   R-squared:                       0.045
Model:                            OLS   Adj. R-squared:                  0.038
Method:                 Least Squares   F-statistic:                     6.126
Date:                Mon, 06 Feb 2023   Prob (F-statistic):           0.000443
Time:                        14:33:21   Log-Likelihood:                -1152.1
No. Observations:                 395   AIC:                             2312.
Df Residuals:                     391   BIC:                             2328.
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         19.6230      3.041      6.453      0.000      13.645      25.601
studytime      0.4768      0.271      1.758      0.079      -0.056       1.010
age           -0.5541      0.178     -3.115      0.002      -0.904      -0.204
traveltime    -0.6399      0.327     -1.956      0.051      -1.283       0.003
==============================================================================
Omnibus:                       34.135   Durbin-Watson:                   2.028
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               40.443
Skew:                          -0.755   Prob(JB):                     1.65e-09
Kurtosis:                       3.424   Cond. No.                         228.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

## Step 4: Report
-

In [ ]:
#G3=19.6230 + 0.4768 studytime - 0.5541 age - 0.6399 traveltime 
# jika studytime, age, traveltime mendekati nol maka nilai G3 19.6230
#Jika studytime naik satu satuan akan menaikkan G3 sebesar 0.4768
# Jika age naik satu satuan akan menurunkan G3 sebesar 0.5541 
# Jika traveltime naik satu satuan akan menurunkan G3 sebesar 0.6399

## Step 5: Actions
- Gunakan insights
- Bagaimana mengukur impact

### Deskripsi
- Apa saja tindakan yang harus dilakukan oleh sekolah?
- Bagaimana sekolah mengukur impactnya?

In [ ]:
# Sekolah meningkatkan waktu belajar agar G3 meningkat, semakin bertambah umur G3 menurun, 
#dan sekolah mengurangi kegiatan berlibur yang berlebihan agar siswa fokus dalam belajar

In [ ]:
#sekolah mengukur impact dari dari nilai yang siswa belajar selama sekolah